body {
    font-family: Raleway, sans-serif;
    background-color: #eee;
}

div.note {
    /* padding: 1em; */
    /* margin: 1em; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 900px; */
    /* clear: both; */
    /* overflow: auto; */
    background-color: white;
}

div.example {
    /* margin: 0.5em; */
    /* padding: 1em; */
    background-color: #eee;
    /* clear: both; */
    /* overflow: auto; */
}

svg {
  /* position: absolute; */
  /* float: left; */
  /* display: block; */
  height: 100%;
  width: 100%;
  /* height: auto; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: -6%;
  /* -webkit-transform: perspective(200px) rotateX(40deg); */

}

button {

    font-size: large;
    background-color: #02cc86;
    color: white;
    padding: 30px;
    border-radius: 0.5rem;
    border: 1px solid black;
    margin-bottom: 0.5rem;
    width: 100%;
}

button:hover {
    background-color: white;
    color: black;
}


select {
    background-color: white;
    border: solid 1px black;
    font-size: medium;
}



/* The Modal (background) */
.modal {
  z-index: 100;
  display: none;
  background-color: #fefefe;
  padding: 10px;
  border: 1px solid #888;
  width: 300px;
  /* height: 50px; */
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50% -50%);
}

h2 {
  text-align: center;
}

.modal-city-description {
  font-size: 12pt;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
